/* ==========================================================================
   MASTHEAD - colors only
   ========================================================================== */

.masthead {
  background-color: #0E2841 !important;
  border-bottom: 3px solid #E97132 !important;
}

.greedy-nav {
  background: #0E2841 !important;
}

.greedy-nav a {
  color: #ffffff !important;
}

.greedy-nav a:hover {
  color: #E97132 !important;
}

.greedy-nav .visible-links a:before {
  background: #E97132 !important;
}

.greedy-nav .hidden-links {
  background: #0E2841 !important;
}

.greedy-nav button {
  background: #0E2841 !important;
}

.site-title {
  color: #ffffff !important;
}